<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170329718-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-170329718-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bloggyz</title>
    <link rel="stylesheet" href="/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/icon-font.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
</head>
<body>

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="nav">
        <label for="nav" class="navigation__button"><span class="navigation__icon"></span></label>
        <div class="navigation__background"></div>
        <nav class="navigation__nav">
            <ul>
                <li class="navigation__item"><a href="/">Home</a></li>
                <li class="navigation__item"><a href="/blogs">All Blogs</a></li>
                <% if(currentUser){ %>
                <li class="navigation__item"><a href="/user/<%= currentUser._id %>">Your Profile(-<%= currentUser.username %>-)</a></li>
                <li class="navigation__item"><a href="/logout">Logout!</a></li>
                <% }else{ %>
                <li class="navigation__item"><a href="/login">Login</a></li>
                <li class="navigation__item"><a href="/signup">Sign up!</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
    

    <% if(error && error.length > 0){ %>

        <div class="alert-container">
            <div class="alert-container__message alert-container__message--1">
                <p><%= error %></p>
            </div>

    <% }else if(success && success.length > 0){ %>

            <div class="alert-container__message alert-container__message--2">
                <p><%= success %></p>
            </div>
    <% }else if(warning && warning.length > 0){ %>   

            <div class="alert-container__message alert-container__message--3">
                <p><%= warning %></p>
            </div>   
    <% } %>    